html,body{margin:0;}

*, *::before, *::after {box-sizing: border-box;}

body{
    background-image: url("../images/rectangle.jpg");
    color:D6A8E8;
    height:1000vh;
}
h3{color:3A2A47;}




.title{
    align-content:center;
    background-image: url("../images/shadowheart.title.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    font-size:200;
    justify-content:left;
    height: 115vh;
    text-align: left;
}

.toolbar{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 100;
    justify-content: center;
}

/*FIND FONT*/
.about{
    align-content: center;
    background-color:4B355B;
    background-image: url("../images/shadowheart.about.jpg");
    background-position:center;
    background-size:cover;
    color: D6A8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 40;
    justify-content: center;
    height: 180vh;
    min-height:2000px;
    text-align: center;
}

.fits{
    align-content: center;
    background-color:4B355B;
    background-position:center;
    background-size:cover;
    color: D6A8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 40;
    justify-content: center;
    height: 180vh;
    min-height:2000px;
    text-align: center;
}

.donate{
    align-content: center;
    background-color:4B355B;
    background-position:center;
    background-size:cover;
    color: D6A8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 40;
    justify-content: center;
    height: 50vh;
    min-height:500px;
    text-align: center;
}

.note {a:hover {color: D6A8E8;}
    align-content: center;
    background-color:4B355B;
    background-position:center;
    background-size:cover;
    color: D6A8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 40;
    justify-content: center;
    height: 10vh;
    min-height:200px;
    text-align: center;}

.note2 {a:hover {color: D6A8E8;}
    align-content: center;
    background-color:4B355B;
    background-position:center;
    background-size:cover;
    color: D6A8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 40;
    justify-content: center;
    height: 10vh;
    min-height:200px;
    text-align: center;}

.friends{
    align-content: center;
    background-color:4B355B;
    background-position:center;
    background-size:cover;
    color: D6A8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 40;
    justify-content: center;
    height: 180vh;
    min-height:2000px;
    text-align: center;
}

.weapons{
    align-content: center;
    background-color:4B355B;
    background-position:center;
    background-size:cover;
    color: D6A8E8;
    display: flex;
    flex-wrap: wrap;
    font-size: 40;
    justify-content: center;
    height: 180vh;
    min-height:2000px;
    text-align: center;
}